* {
padding: 0;
margin: 0;
border: 0;
}

*,*:before,*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


body {
background-color: #f0f0f0;
font-family: Roboto, sans-serif;
color: #000000;
font-weight: 400;
}

.container {
max-width: 600px;
margin: 0 auto;
padding-top: 50px;

}

.search-input {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
outline: none;
border-radius: 6px;
}

.search-input:focus {
border-color: #93daf8;
box-shadow: 0 0 5px #93daf8;
}

.autocomplete-list {
list-style: none;
border: 1px solid #ccc;
border-top: none;
border-radius: 6px;
display: none;
background-color: #f8f8f8;
}

.autocomplete-list li {
padding: 10px;
cursor: pointer;
border-bottom: 1px solid #ccc;
border-radius: 6px;
}

.autocomplete-list li:last-child {
border-bottom: none;
}

.autocomplete-list li:hover,
.autocomplete-list li:focus {
background-color: #ace5fe;
}

.repo-list {
margin-top: 50px;
display: flex;
flex-direction: column;
justify-content: center;
}

.repo-item {
display: flex;
justify-content: space-between;
border: 1px solid #ccc;
border-radius: 6px;
background-color: #f7dff9;
padding: 10px;
margin-bottom: 10px;
}

.repo-item:last-child {
border-bottom: 1px solid #ccc;
}

.repo-item p {
margin: 5px 0;
}


.delete-btn {
position: relative;
width: 40px;
height: 40px;
border: none;
cursor: pointer;
background: none;
align-self: center;
}

.delete-btn::before,
.delete-btn::after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width:  30px;
height: 2px;
background-color: #FF0000;
border-radius: 1px;
}

.delete-btn::before {
transform: translate(-50%, -50%) rotate(45deg);
}

.delete-btn::after {
transform: translate(-50%, -50%) rotate(-45deg);
}
